
.img800{
    position: absolute;
    width: 1150px;
    height: 1420px;
    left: 218px;
    top: 148px;
    bottom: 100px;
    background: url("../img/life300.jpg");
    border-radius: 90px;
    
    }
    
    
    