  /* edit buttons */
.btn-submit1190{

    margin-left: 750px;
    font-size: 18px;
  background-color: #191970;
  border-color: #161a1d;
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px ;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 10px;
}


.search1234{

    margin-left: 1238px;
    margin-bottom: 50px;
  }
    

.head111{
    font-size: 35px;
    margin-left: 15px;
    margin-bottom: -80px;
}
.nav-item2123{
    margin-left:25px;
}
.nav-item3123{
    margin-left:50px;
}
.nav-item11123{
    margin-left:30px;
}
.nav-item4123{
    margin-left:60px;
}





.IOwnere-img{
    margin-top: 30px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 140px;
}


.nav-item1{
    position: relative;
    padding-right: 20px;
    border-color: black;
}

.nav-bar123{
    list-style-type: none;
    line-height: 60px;
}
