:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue:#233975
}
.bodylgoin{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight:500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.linklogin{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover {
    text-decoration: underline;
}

.small{

    font-size: 80%;
    text-align: center;
}
.split-screenlogin {
    display: flex;
    flex-direction:column ;
}

.leftlogin{
    height: 200px;
}

.leftlogin,.rightlogin{

    display: flex;
    justify-content: center;
    align-items: center;
}
.leftlogin{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2)), url("../img/log-3.jpg");
    background-size: cover;
}

.leftlogin.copylogin{
    color: white;
    text-align: center;
    --webki-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.leftlogin p{
    font-weight: 400;
}
.rightlogin .copylogin{
    color: black;
    text-align: center;
}

.rightlogin .copylogin p{

    margin: 0.2em 0;
    font-size: 0.875rem;
}

.rightlogin form{

    width: 400px;
    margin-right: 5px;
}

.formlogin input[type="text"],
.formlogin input[type="email"],
.formlogin input[type="password"]{

    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4cc;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.input-container.password{
    position: relative;
}
.input-container.password i{

    position: absolute;
    top: 42px;
    right: 16px;
}

.signup-btnlogin{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btnlogin:hover{
    background: #2c4893;
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    .split-screenlogin{
        flex-direction: row;
        height: 100vh;
        width: 1800px;
    }
    .leftlogin,
    .rightlogin {
        display: flex;
        width: 40%;
        height: 100%;
    }
    
}