.veh-reser-body{
    background-color: #e6e6ee;
    height: auto;
    padding-bottom: 150px;
}

table, tr, th, td{
    border: 2px solid;
}

.veh-res-admin-table{
    position: relative; left: 80px; top: 80px;
}

#vehicle-res-head-pic{
    position: relative; top:  45px; left: 400px;
}

.res-veh-admin-heading{
    z-index: 5;
    position: absolute; left: 710px; top: 80px;
    font-size: 95px;
    color: #FFFFFF;
}

.veh-res-contaa{
    position: relative; left: 350px; top: 150px;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 1150px;
    height: auto;
    min-height: 500px;
    padding-bottom: 100px;
    padding-left: 100px;
    
}

.veh-res-ad-bthn1{
    flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
  background-image: linear-gradient(to left, #191970 0%, #ffffff 2%, #191970 100%);
  font-size: 20px;
  border-style: none;
  position: relative;
}

.btn-btn-primary-report{
    flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
  width: 180px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
  background-image: linear-gradient(to left, #191970 0%, #ffffff 2%, #191970 100%);
  font-size: 20px;
  border-style: none;
  position: relative; left: 545px; top: 25px;
}